<div class="sidebar-list">
  <div class="sidebar-controls">
    <a class="text-bold" href="{% url 'todo:project-list' %}">Projects</a>
    <a href="{% url 'todo:project-create' %}">
      <i class="fa-solid fa-plus"></i>
    </a>
  </div>
  {% with user.projects.all as projects %}
    {% if projects %}
      {% for project in projects %}
        <div class="project-card">
          <a class="project-card-link"
             href="{% url 'todo:project-detail' project.pk %}">{{ project.name }}</a>
        </div>
      {% endfor %}
    {% else %}
      <div class="text-muted">There are no projects yet</div>
    {% endif %}
  {% endwith %}
</div>

