{% load query_transform %}
<div class="task-container">
  {% for task in task_list %}
    <div class="task-card">
      <div class="task-card-main">
        <form action="{% url 'todo:task-toggle-completed' task.pk %}" method=post>
          {% csrf_token %}
          <div class="checkbox-circle">
            <input type="checkbox"
                   id="checkbox-circle{{ forloop.counter }}"
                   name="check"
                   onclick="this.form.submit()"
                   {% if task.completed %}checked{% endif %}>
            <label for="checkbox-circle{{ forloop.counter }}"
                   {% if task.completed %}class="completed"{% endif %}>{{ task.title }}</label>
          </div>
        </form>
        <div class="task-card-controls">
          <a href="{% url 'todo:task-update' task.pk %}">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
          <a href="{% url 'todo:task-delete' task.pk %}">
            <i class="fa-solid fa-trash-can"></i>
          </a>
          <a href="{% url 'todo:task-detail' task.pk %}">
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </div>
      </div>
      <div class="task-card-info">
        <div class="info-item-value">
          {% with task.tags.all as tags_list %}
            {% if tags_list %}
              {% for tag in tags_list %}
                <a href="?{% query_transform request tag=tag.name %}">#{{ tag.name }}</a>
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
        <div class="info-item-value">
          <i class="fa-solid fa-calendar-day" style="color: #46ae62;"></i>
          {{ task.due_date }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

