{% extends "base.html" %}
{% block content %}
  <h1>Projects</h1>
  <div class="project-list-controls">
    {% with project_list.count as num_projects %}
      <div>{{ num_projects }} project{{ num_projects|pluralize }}</div>
    {% endwith %}
    <a class="action-link" href="{% url 'todo:project-create' %}">
      <i class="fa-solid fa-plus"></i>
      Create
    </a>
  </div>
  <form class="search-form" action="" method="get">
    {% for field in search_form %}<div class="form-group">{{ field }}</div>{% endfor %}
    <div class="form-group">
      <input class="form-button" type="submit" value="Search">
    </div>
  </form>
  {% for project in project_list %}
    <div class="project-card">
      <a class="project-card-link"
         href="{% url 'todo:project-detail' project.pk %}">{{ project.name }}</a>
    </div>
  {% empty %}
    <p class="text-muted">You haven't create any projects yet</p>
  {% endfor %}
{% endblock content %}

