{% extends "base.html" %}
{% load query_transform %}
{% block content %}
  <div class="task-list-controls">
    <a href="?" class="action-link">
      <i class="fa-solid fa-filter-circle-xmark"></i>
      Reset
    </a>
    <a class="action-link" href="?{% query_transform request date=today %}">
      <i class="fa-solid fa-calendar-day"></i>
      Today
    </a>
    <a class="action-link"
       href="?{% query_transform request date=tomorrow %}">
      <i class="fa-solid fa-forward"></i>
      Tomorrow
    </a>
    <form action="" method="get">
      {% for hidden_field in filter_form %}{{ hidden_field }}{% endfor %}
      <input type="date" name="date" onchange="this.form.submit()">
    </form>
    <a class="action-link" href="{% url 'todo:task-create' %}">
      <i class="fa-solid fa-plus"></i>
      Create task
    </a>
  </div>
  <form class="search-form" action="" method="get">
    {% for field in search_form %}<div class="form-group">{{ field }}</div>{% endfor %}
    <div class="form-group">
      <input class="form-button" type="submit" value="Search">
    </div>
  </form>
  <div class="tag-container">
    <div class="tag-container-items">
      <span class="text-bold">Tags:</span>
      {% for tag in common_tags %}
        <a href="?{% query_transform request tag=tag.slug %}">{{ tag.name }}</a>
        <a href="{% url 'todo:tag-update' tag.pk %}">
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <a href="{% url 'todo:tag-delete' tag.pk %}">
          <i class="fa-regular fa-circle-xmark"></i>
        </a>
        {% if not forloop.last %},{% endif %}
      {% empty %}
        <span class="text-muted">no tags</span>
      {% endfor %}
    </div>
    <div class="tag-container-controls">
      <a class="action-link" href="{% url 'todo:tag-create' %}">
        <i class="fa-solid fa-plus"></i>
        Create tag
      </a>
    </div>
  </div>
  {% if task_list %}
    {% include "includes/task_container.html" %}
  {% else %}
    <h1>You haven't created any tasks yet</h1>
  {% endif %}
{% endblock content %}
