<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}Todo{% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ba74a74849.js"
            crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="{% url 'todo:task-list' %}">Todo app</a>
      </div>
      <ul class="login-controls">
        {% if user.is_authenticated %}
          <li>Hi, {{ user.username }}!</li>
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
          <li>
            <a href="{% url 'todo:register' %}">Register</a>
          </li>
        {% endif %}
      </ul>
    </header>
    <main class="main">
      <nav class="nav">
        {% include "includes/sidebar.html" %}
      </nav>
      <div class="content">
        {% block content %}
        {% endblock content %}
      </div>
    </main>
  </body>
</html>
